.App {
  text-align: center;
}

.smurf-container {
  border: 2px solid #88ccff; 
  margin: 1rem;
  padding: 1rem;
}

.add-smurf-container form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
} 

button {
  background-color: #88ccff;
}