.App {
  text-align: center;
}

.smurf-container {
  border: 5px solid #55a9ff; 
  margin: 1rem;
  padding: 1rem;
}

.add-smurf-container form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
} 

button {
  background-color: #55a9ff;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

button:hover {
  background-color: #f52c07;
  color: white;
}

h1 {
  color: #55a9ff;
}

h2 {
  color: #f52c07;
}